$primary-color-bg: #222831;
$primary-color-text-first: #f9f9f9;
$primary-color-block: #2c3440;
$primary-color-text-second: #49a29b;
$primary-color-border: #555b65;
$primary-color-button-close: #eb5454;
.addTask-container{
  background-color: $primary-color-block;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 10px 0;
  width: 700px;
  h1{
    font-size: 22px;
    font-weight: 400;
    margin-left: 20px;
    color:$primary-color-text-second
  }
  .addTask-content{

    padding: 10px;
    display: flex;
    justify-content: space-between;

    .addTask-input{
      color:$primary-color-text-first;
      background-color: $primary-color-block;
      border: 2px solid $primary-color-border ;
      border-radius: 15px;
      outline: none;
      font-size: 20px;
      padding: 10px;
      width: 500px;

    }
    .addTask-button{
      margin-left: 15px;
      color:$primary-color-text-first;
      background-color: $primary-color-text-second;
      border: none;
      font-size: 18px;
      font-weight: 600;
      border-radius:  10px;
    }
    .addTask-button:hover{
      transition: 0.2s;
      background-color: #65bab3;
    }
  }

}