$primary-color-bg: #222831;
$primary-color-text-first: #f9f9f9;
$primary-color-block: #2c3440;
$primary-color-text-second: #49a29b;
$primary-color-border: #555b65;
$primary-color-button-close: #eb5454;
.auth-container{
  background-color: $primary-color-block;
  width: 300px;
  padding: 5px;
  border-radius: 10px;
  h1{
    color: $primary-color-text-second;
    font-weight: 400;
    text-align: center;
    font-size: 20px;
  }
  .form{
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    .button-submit{
      border: none;
      color:$primary-color-text-first;
      background-color: $primary-color-text-second;
      border-radius: 10px;
      font-size: 20px;
      font-weight: 500;
      max-width: 100px;
      padding: 10px 20px;
    }

    .button-submit:hover{
      transition: 0.2s;
      background-color: #65bab3;
    }

    input{
      margin: 10px 0px;
      display: block;
      color:$primary-color-text-first;
      background-color: $primary-color-block;
      border: 2px solid $primary-color-border;
      border-radius: 15px;
      outline: none;
      font-size: 20px;
      padding: 10px;
    }
  }

}
